* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section,
header {
  width: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}