.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    gap: 45px;
  }
  &__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
  }
  &__link:hover {
    color: black;
  }
}
.header__btn {
  padding: 20px;
  border-radius: 50%;
}
.header__btn2 {
  padding: 20px;
  border-radius: 50px;
}
